:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='151' viewBox='0 0 129 151' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.4249 144.251C33.483 148.75 42.7916 151 53.3506 151H75.441C86 151 95.3086 148.75 103.367 144.251C111.564 139.612 117.885 133.144 122.331 124.849C126.777 116.413 129 106.712 129 95.7458V55.2542C129 44.2877 126.777 34.6569 122.331 26.3617C117.885 17.926 111.564 11.4586 103.367 6.9595C95.3086 2.31983 86 0 75.441 0H53.3506C42.7916 0 33.483 2.31983 25.4249 6.9595C17.3667 11.4586 11.1147 17.926 6.66882 26.3617C2.22294 34.6569 0 44.2877 0 55.2542V95.7458C0 106.712 2.22294 116.413 6.66882 124.849C11.1147 133.144 17.3667 139.612 25.4249 144.251ZM69.391 129.278V103.321C69.391 98.1956 73.5762 94.0407 78.7388 94.0407H104.617V56.0978C104.617 45.8343 101.908 37.5391 96.4895 31.2123C91.21 24.8855 84.1938 21.7221 75.441 21.7221H53.559C44.8061 21.7221 37.7205 24.8855 32.3021 31.2123C27.0226 37.5391 24.3829 45.8343 24.3829 56.0978V94.9022C24.3829 105.166 27.0226 113.461 32.3021 119.788C37.7205 126.115 44.8061 129.278 53.559 129.278H69.391Z' fill='%23D4D2D2' fill-opacity='0.2'/%3E%3C/svg%3E") center center no-repeat, radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,196,196,1) 100%);
  background-size: 30%, contain;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  display: flex;
  background-image: url('../images/icon-markerless.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #31C4C4;
  position: absolute;
  left: 20px;
  /* transform: translateX(-50%); */
  white-space: nowrap;
  bottom: 150px;
  padding: 0px 10px 0px 30px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color:#101010;
  line-height: 28px;
  border-radius: 12px;
  border: 0px solid #DADCE0;
  z-index: 9999;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.c-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  max-height: 300px;
  font-family: 'Halvetica', sans-serif;
  color: #FAFAFA;
  right: 20px;
  bottom: 20px;
}

.c-info-wrapper {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  border-radius: 24px;
  padding: 10px 30px;
  height: auto;
  overflow: hidden;
  color: #111;
}

.c-info-wrapper p {
  height: 100px;
  max-height: 70%;
  font-size: 12px;
  font-weight: 300;
  overflow: scroll;
}

.c-info-wrapper details summary {
  font-size: 16px;
  font-weight: 500;
}

.c-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 20px 0px;
}

.c-wrapper .c-button-wrapper .button {
  display: flex;
  align-items: center;
  border-radius: 12px; 
  border: 0; 
  padding: 5px 16px; 
  font-weight: 500; 
  font-size: 12px;
  text-decoration: none;
}

.button img {
  height: 20px;
}

.button.markerless {
  background-color: #31C4C4;
  color: #1E1E1E;
}

.button.markerbase {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  color: #111;
}

.button.markerbase:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 820px) {
   model-viewer {
    background-size: 70%, contain;
   }

  .c-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    right: 0;
  }

  .c-info-wrapper {
    margin: 20px;
    padding: 10px 30px;
    max-height: 150px;
  }

  .c-info-wrapper p {
    max-height: 50%;
    height: 100px;
  }

  .c-button-wrapper {
    padding: 0px 20px;
  }
}